/*Reset do Css*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    width: 100%;
    height: 100%;
    background-color: #d8d8d8;
    font-family: 'Playfair Display', sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

.titulo{
    font-size: 20px;
    font-weight: bold;
    margin: 2em 0 0;
    display: flex;
    justify-content: center;
}


.conteiner{
    display: flex;
    flex-wrap: wrap;
    max-width: 80vw;
    margin: 0 auto;
    padding: 80px 0;
    justify-content: space-between;
}

.conteiner > div{
    flex: 1 1 250px;
    max-width: 320px;
    margin: 30px;
    border: solid 10px white;
    border-radius: 10px;
    position: relative;
}

.conteiner > div > p{
    position: absolute;
    padding: 20px 30px;
    background-color: black;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1em;
    color: white;
    bottom: -20px;
    right: -20px;
}